@using NewsSite.WebApplication.Abstract;

@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
    (this.ViewContext.Controller as BaseController).Logger.LogInfo(Model.ControllerName);
    (this.ViewContext.Controller as BaseController).Logger.LogInfo(Model.ActionName);
    (this.ViewContext.Controller as BaseController).Logger.LogError(Model.Exception);
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
